body {
    margin: 0;
}

span {
    list-style: none;
}

li {
    list-style: none;
}

.m-bk {
    position: absolute;
    width: 1063px;
    height: 544px;
    background: url('../css/image.png') no-repeat;
    opacity: 0.4;
}

.m-menu {
    padding: 15px 65px;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.m-menu-item+.m-menu-item {
    margin-left: 18px;
}

.h1 {
    position: absolute;
    width: 1063px;
    height: 500px;
}

.h2 {
    white-space: nowrap;
    position: fixed;
    width: 1063px;
    height: 500px;
}

.r1c1 {
    padding: 24px 34px 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.1px;
    color: #6c6c6c;
}

.r2c1 {
    padding: 5px 34px 0;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.r3c1 {
    padding: 8px 34px 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.15px;
    color: #6c6c6c;
}

.r4c1 {
    padding: 18px 31px 0;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.r5c1 {
    padding: 6px 34px 0;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #6c6c6c;
}

.r6c1 {
    padding: 51px 34px 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: #6c6c6c;
}

.r7c1 {
    padding: 5px 34px 0;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.6px;
}

.r8c1 {
    padding: 8px 34px 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: #6c6c6c;
}

.r9c1 {
    padding: 19px 34px 0;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.4px;
}

.r10c1 {
    padding: 5px 31px 0;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.6px;
    color: #6c6c6c;
}

.r11c1 {
    padding: 52px 34px 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: #6c6c6c;
}

.r12c1 {
    padding: 4px 32px 0;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.4px;
}

.r13c1 {
    padding: 8px 34px 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: #6c6c6c;
}

.r14c1 {
    padding: 18px 34px 0;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.1px;
}

.r15c1 {
    padding: 6px 34px 0;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #6c6c6c;
}

.r1c2 {
    padding: 56px 769px 0;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.r2c2 {
    padding: 53px 815px 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.r3c2 {
    padding: 3px 815px 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1px;
}

.r4c2 {
    padding: 1px 815px 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1px;
}

.r5c2 {
    padding: 8px 815px 0;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.r6c2 {
    padding: 6px 815px 0;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: #6c6c6c;
}

.r7c2 {
    padding: 27px 816px 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05px;
}

.r8c2 {
    padding: 2px 816px 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05px;
}

.r9c2 {
    padding: 2px 816px 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.r10c2 {
    padding: 7px 816px 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.r11c2 {
    padding: 5px 815px 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.1spx;
    color: #6c6c6c;
}

.r12c2 {
    padding: 27px 815px 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.r13c2 {
    padding: 2px 815px 0;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.r14c2 {
    padding: 9px 815px 0;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.r15c2 {
    padding: 5px 815px 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: #6c6c6c;
}